.hero {
  background-color: #2f303a66;
  width: 100vw;
  position: relative;
}

.hero__bg {
  background-image: url(../../../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__wrapper {
  padding: 210px 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero__wrapper > h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  max-width: 700px;
  text-align: center;
}

.hero__wrapper > button {
  background-color: #2196f3;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
}
